.col-center {
  text-align: center;
}
.icon-midia {
  font-size: large;
}
.audio-icon {
}
.midia-text{
    font-size: small;
}
.rol-midia{
    background-color: #ececec;
    position: fixed;
    width: 100%;
    border-bottom: solid 2px #86888f;
}
.content-header {
    padding-top: 7px;
    padding-bottom: 7px;
}